<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">FuSa Qualification Tools</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('software')">Software Tools</a></li>
        <li><a href="#" (click)="onSelect('design')">Design Tools</a></li>
        <li><a href="#" (click)="onSelect('tools3')">Tools 3</a></li>
        <li><a href="#" (click)="onSelect('tools4')">Tools 4</a></li>
      </ul>
    </div>
  </div>
</nav>
