<a href="#"  (click)="onSelected()">

<div class="col-md-2">
    <h2 class="list-group-item-heading" style="text-align: center;">{{ softwareTile.name }}</h2>
    <img src="{{ softwareTile.iconPath }}" style=" display: block;margin-left: auto; margin-right: auto; margin-bottom: 5px; max-width: 25px; max-height: 25px;">
    <h4 class="list-group-item-heading" style="text-align: center;">{{ softwareTile.compliancy }} </h4>
    <h4 class="list-group-item-heading" style="text-align: center;">{{ softwareTile.currentVersion }}</h4>
  </div>

</a>

